@model KD12MVCHamburger.Data.Ekstra

@{
    ViewData["Title"] = "Ekstra Düzenle";
}

<h1>Ekstra Düzenle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EkstraDuzenle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Ekstra Adı</label>
                <input asp-for="EkstraAdı" class="form-control" />
                <span asp-validation-for="EkstraAdı" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiyat" class="control-label"></label>
                <input asp-for="Fiyat" class="form-control" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-2" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
